body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.primary-btn {
    /* for having a curve in reactangle */
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
    
}

.primary-color {
    color: #FD6E0A;
}

.nav-title {
    color: var(--Dark-01, #181818);

    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav {
    /* for same line */
    display: flex;
    /* having space between  and go  */
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    /* all ui in same line */
    display: flex;
    /* alling item in center */
    align-items: center;

}

nav li {
    /* for no listing */
    list-style: none;  
    margin-right: 50px;
    /* for spacecing between li */
}

nav a {
    /* no underline */
    text-decoration: none;
    color: #474747;
}